<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>See who has clicked my links</title>
    <link rel="stylesheet" href="/static/outfit.css" />
  </head>
  <body>
    <table id="infotable">
      <tr>
        <th>Id</th>
        <th>Next</th>
        <th>MSG</th>
        <th>Date</th>
      </tr>
    </table>
    <form class="countForm">
      <label for="count">Count</label>
      <input type="number" id="count" name="count" value="5" /><br />
      <label for="count">Offset</label>
      <input type="number" id="offset" name="offset" value="0" /><br />
      <input type="button" value="Submit" id="sendBtn" />
    </form>
    <script src="/static/script.js"></script>
  </body>
</html>
