<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>See who has clicked my links</title>
    <link rel="stylesheet" href="/static/outfit.css" />
  </head>
  <body>
    <div>
      <table id="infotable">
        <tr>
          <th>Id</th>
          <th>Next</th>
          <th>MSG</th>
          <th>Date</th>
        </tr>
      </table>
      <div id="changeStartId">
        <input type="button" value="Prev" id="prevBtn" />
        <input type="button" value="Next" id="nextBtn" />
      </div>
    </div>
    <form id="countForm">
      <label for="count">Count</label>
      <input type="number" min="0" id="count" name="count" value="5" /><br />
      <label for="count">Start id</label>
      <input type="number" min="0" id="offset" name="offset" value="0" /><br />
    </form>
    <script src="/static/script.js"></script>
  </body>
</html>
